/*Un projet d'Arthur Lamothe, M-NAV*/
/*FONTS*/
@font-face{
    src:url(../fonts/Super\ Dessert.ttf);
    font-family: dessert;
}
@font-face{
    src:url(../fonts/Super\ Corn.ttf);
    font-family: corn;
}
@font-face{
    src:url(../fonts/uchiyama.otf);
    font-family:uchiyama;
}



/*NAVBAR DE BASE*/
.banniere{
    text-align: center;
    padding-top: 1vh;
    height: 12vh;
}

.navBarOption{
    text-decoration: none;
    font-family: uchiyama;
    width: 15%;
}

@media(min-width: 0px) and (max-width: 8000px){
    .navBarOption{
        font-size: 15px;
    }
    .appLogo{
        font-size: 50px;
    }
    .appLogoAlt{
        font-size: 30px;
    }
}
@media(min-width: 800px){
    .navBarOption{
        font-size: 20px;
    }
    .appLogo{
        font-size: 70px;
    }
    .appLogoAlt{
        font-size: 40px;
    }
}

.retour{
    text-align: right;
}

.appLogo{
    font-family: dessert;
}

.appLogoAlt{
    font-family: dessert;
    width: 25%;
    text-align: left;
}

.navBarTitre{
    font-family: corn;
    font-size: 50px;
    width: 50%;
    margin-right: 10%;
    padding-top: 1vh;
}

/*PAGE D'INFO*/
/*NAVBAR INFO*/
.banniereInfo{
    background-color: rgb(246,144,13);
    border-bottom: 2px double rgba(249,159,8, 0.5);
}

.navBarOptionInfo{
    color:rgb(46, 80, 119);
    text-shadow:rgb(146,112,66) 2px 2px;
}

.navBarOptionInfo:hover{
    color:rgba(69, 13, 52);
    text-shadow:rgb(116,75,26) 2px 2px;
}

.appLogoInfo{
    color:rgb(46, 80, 119);
    text-shadow:rgb(146,112,66) 4px 2px;
    width: 40%;
    margin-left: 15%;
}

.appLogoAltInfo{
    color:rgb(46, 80, 119);
    text-shadow:rgb(146,112,66) 3px 2px;
}

.navBarTitreInfo{
    color: rgba(138, 5, 23);
    text-shadow:rgb(192,75,18) 2px 2px;
}

/*PAGE*/
.menuInfo{
    text-align: center;
    background-image: url(../img/dataSmileyBG.png);
    height: 88vh;
    background-size:cover;
}

.titreInfo{
    color: rgba(46, 80, 119);
    font-family: corn;
    font-size: 50px;
    padding-top: 5vh;
    text-shadow:rgb(23,40,60) -2px 2px;
    
}

/*INDEX*/

.choixEvent{
    width: 75%;
    text-align: center;
    border-radius: 180px;
    border-color: rgba(34, 59, 88);
    background-color: rgb(51, 89, 132);
    color: rgba(205, 87, 19);
    font-weight: bolder;
    font-size:20px;
}

.unOptionEvent{
    color: rgb(10, 33, 15);
    font-weight: bold;
    text-align: center;
}
.unOptionEvent:checked{
    background-color: rgba(97, 152, 142);
}

.optionEvent{
    margin-top: 10vh;
    align-items: center;
}

.optionVote{
    margin-top: 10vh;
    align-items: center;
}

.uneOptionIndex{
    background-color:rgba(205, 87, 19, 0.726);
    border-radius: 100px;
    color:rgb(69, 13, 52);
    text-decoration: none;
    font-family: uchiyama;
    font-size: 25px;
    padding: 50px;
}

.uneOptionIndex:hover{
    color:rgba(23,40,60)
}
.uneOptionVote{
    width: 30%;
    margin-left: 2.5%;
}

.uneOptionIndex:hover{
    background-color:rgba(252, 141, 6, 0.712);
    border-radius: 100px;
}

/*PAGE PROFIL*/

@media(min-width: 0px) and (max-width: 767px){
    .modUser{
        justify-content: center;
    }
    .uneOptionProfil{
        margin-top: 10px;
    }
}
.modUser{
    padding: 20px;
}

.uneOptionProfil{
    background-color:rgb(69, 13, 52);
    border-radius: 10px;
    color:rgb(246,144,13);
    text-decoration: none;
    font-family: uchiyama;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
    
}

.uneOptionProfil:hover{
    color:rgba(138, 5, 23)
}

.unEvent{
    color: rgba(69, 13, 52);
    font-family: uchiyama;
    font-weight: bolder;
    font-size:30px;
}

.unEvent:hover{
    color: rgba(34, 59, 88);
}

/*PAGE INFO EVENT*/
.boxInfoEvent{
    margin-left: 35%;
    width: 30%;
    text-align: left;
}

.boxInfoEventAlt{
    margin-left: 35%;
    width: 30%;
    text-align: center;
}

.catEventInfo{
width: 100%;
font-size: 25px;
color:rgb(69, 13, 52);
font-weight: bold;
font-family: uchiyama;
}

.eventInfo{
    color: rgb(46, 80, 119);
    text-decoration: none;
}

.eventInfo:hover{
    color: rgb(46, 80, 119);
}

.eventDescription{
    color: rgb(46, 80, 119);
    text-decoration: none;
    font-size: 20px;
}

.eventDescription:hover{
    color: rgb(46, 80, 119);
}

@media(min-width: 0px) and (max-width: 686px){
    .ModEvent{
        justify-content: center;
    }
    .uneOptionEvent{
        margin-top: 10px;
    }
}

.modEvent{
    padding: 20px;
}

.uneOptionEvent{
    background-color:rgb(69, 13, 52);
    border-radius: 10px;
    color:rgb(246,144,13);
    text-decoration: none;
    font-family: uchiyama;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}

.uneOptionEvent:hover{
    color:rgba(138, 5, 23)
}

.unUser{
    color: rgb(46, 80, 119);
    text-shadow: rgb(23,40,60) -1px 1px;
    font-family: uchiyama;
    font-weight: bolder;
    font-size:30px;
}

/*PAGE RESULT*/
.blockResult{
    margin-top: 20%;
    background-color:rgba(205, 87, 19, 0.911);
    color: rgb(69, 13, 52);
    font-family: uchiyama;
    border-radius: 25px;
    border: solid rgb(205, 87, 19);
}

.titreResult{
   font-size: 25px;
}

.infoResult{
    font-size: 40px;
}

/*PAGE DE MOD*/
/*NAVBAR MOD*/
.banniereMod{
    background-color: rgb(5,4,172);
    border-bottom: 2px double rgba(3,2,86, 0.5);
}

.navBarOptionMod{
    color:rgb(255, 216, 0);
    text-shadow:rgb(130,110,8) 1px 2px;
}

.navBarOptionMod:hover{
    color:rgba(3,2,86);
}

.appLogoMod{
    color:rgb(255,247,86);
    text-shadow:rgb(90,60,196) 3px 2px;
    width: 50%;
    margin-left: 25%;
}

.appLogoAltMod{
    color:rgb(255,247,86);
    text-shadow:rgb(90,60,196) 3px 2px;
}

.navBarTitreMod{
    color: rgba(193,186,108);
    text-shadow:rgb(68,65,151) 2px 2px;
}

/*PAGE*/
.menuMod{
    background-image: url(../img/eventSmileyBG.png);
    height: 88vh;
    background-size:cover;
}

.titreMod{
    color: rgb(207, 75, 9);
    font-family: corn;
    font-size: 40px;
    text-shadow:rgb(104,38,5) -2px 2px;
    padding-top: 2vh;
}

.sousTitreMod{
    color: rgb(207, 75, 9);
    font-family: corn;
    font-size: 35px;
    text-shadow:rgb(104,38,5) -2px 2px;
    padding-top: 1.5vh;
}

/*PAGE MOD EVENT*/

.choixUserMod{
    text-align: center;
    background-color: rgb(255,247,86);
    color: rgb(97, 152, 142);
    font-weight: bolder;
    font-size:20px;
}

.unUserMod{
    color: rgba(10, 33, 15);
    font-weight: bold;
    text-align: center;
}

.btnAddMod{
    background-color: rgb(97, 152, 142);
    width: 70%;
    margin-left: 15%;
    margin-top: 0.5vh;
    font-weight: bold;
}

.boxUserAvecMod
{
    margin-top: 0.5vh;
    border-bottom: dotted rgb(68,65,151);
}

.unUserAvecMod{
    color:rgb(68,65,151);
    text-shadow:rgb(17,16,38) 2px 1px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.btnSupMod{
    background-color: rgb(104, 8, 5);
    border-radius: 100px;
    font-size: large;
    font-weight: bold;
    font-family: dessert;
}

.catEventMod{
    color: rgb(207, 75, 9);
    margin-bottom: -0.25vh;
    font-weight: bold;
}

.btnModEvent{
    background-color: rgb(97, 152, 142);
    font-weight: bold;
}

/*PAGE MOD USER*/
@media(max-width: 900px){
    .boxModUser{
        margin-left: 30%;
        width: 40%;
    }
}
@media(min-width: 900px){
    .boxModUser{
        margin-left: 38%;
        width: 24%;
    }
}

.catUserMod{
    color: rgb(207, 75, 9);
    margin-bottom: -0.25vh;
    font-weight: bold;
    font-size: 20px;
}

.inputUserMod{
    width: 100%;
}

.btnModUser{
    background-color: rgb(97, 152, 142);
    font-weight: bold;
}

.boxBtn{
    display: flex;
    justify-content: space-around;
}

.btnAnnulerMod{
    color: black;
    background-color: rgb(170, 11, 6);
    font-weight: bold;
    border: groove rgb(66, 66, 66) 0.5px;
    padding: 5px;
    text-decoration: none;
}

.btnAnnulerMod:hover{
    color: black;
}

/*PAGES NEW (USER ET EVENT)*/
@media(max-width: 900px){
    .boxNew{
        margin-top: 10vh;
        margin-left: 30%;
        width: 40%;
    }
}
@media(min-width: 900px){
    .boxNew{
        margin-top: 10vh;
        margin-left: 39%;
        width: 22%;
    }
}

.catNew{
    color: rgb(207, 75, 9);
    margin-bottom: -0.25vh;
    font-weight: bold;
    font-size: 20px;
}

.inputNew{
    width: 100%;
}

.btnNew{
    background-color: rgb(97, 152, 142);
    font-weight: bold;
}

/*PAGEVOTE*/
.voteTitreBg{
    padding-top: 2vh;
    height: 10vh;
    background-color: rgb(141, 141, 141);
}

.logoVote{
    color: rgb(90,60,196);
    text-shadow: rgb(60, 38, 139) 2px 1px;
    font-family: dessert;
    font-size: 40px;
    width:25%;
    text-align: left;
}

.voteTitre{
    text-shadow: rgb(60, 38, 139) -1px 1px;
    color: rgba(90,60,196);
    font-family: corn;
    font-size: 50px;
    width:50%;
}

.menuVote{
    text-align: center;
    height: 100vh;
    background-color: rgb(168, 168, 168);
}

.space{
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: center;
}

.rangeRow{
    justify-content: center;
    margin-bottom: 50px;
}

.form-range{
    width: 70%;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: rgb(90,60,196);
    height: 3rem;
    border-radius: 100px;
    
}

input[type="range"]::-webkit-slider-thumb {
    background: rgb(103, 99, 207);
    height: 3rem;
    width: 3rem;
    border-radius: 100px;
    margin-top: 0rem;
    appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
    background: rgb(207, 206, 206);
    height: 3rem;
    width: 3rem;
    border-radius: 100px;
    margin-top: 0rem;
    border: none;
    outline: none;
  }

.btnVote{
    width: 30%;
    margin-left: 35%;
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(128, 125, 230) ;
    font-family: dessert;
    font-size: 20px;
}

.merci{
    color: rgb(90,60,196);
    text-shadow: rgb(60, 38, 139) 2px 1px;
    font-family: dessert;
    font-size: 70px;
}

/*CONNEXION ET SUPPRIMER*/
/*PAGE SUPPRIMER*/
.menuSup{
    text-align: center;
    background-image: url(../img/graySmileyBG.png);
    background-size:cover;
    height: 100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blockSup{
    text-align: center;
    background-size:cover;
    display:flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(161, 161, 161, 0.692);
    padding: 70px;
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 40px;
    font-weight: bold;
}

.titreSup{
    color: rgb(51, 10, 39);
    text-shadow: rgb(92,50,79) -1px 1px;
    font-family: uchiyama;
    font-size: 50px;
}

.warningSup{
    color: rgb(194, 14, 14);
    text-shadow: rgb(207, 75, 9) -1px 1px;
}

.btnSup{
    background-color: rgb(182, 50, 46);
    width: 48%;
    margin-left: 4%;
    font-size: 20px;
    font-weight: bold;
}

.btnNonSup{
    background-color: rgb(74, 139, 77);
    width: 48%;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border: groove gray 3px;
}

.btnNonSup:hover{
    color: black;
}

/*PAGE CONNECTION*/
.menuConnexion{
    text-align: center;
    background-image: url(../img/graySmileyBG.png);
    background-size:cover;
    height: 100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blockCon{
    text-align: left;
    background-size:cover;
    display:flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(161, 161, 161, 0.692);
    padding: 70px;
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 40px;
    font-weight: bold;
}

.titleCon{
    color: rgb(51, 10, 39);
    text-shadow: rgb(92,50,79) -1px 1px;
}

.linkCon{
    text-align: center;
    font-size: 20px;
    color:rgb(92,50,79);
    text-decoration: none;
    background-color: rgba(138,124,134, 0.671);
    padding: 10px;
    border-radius: 15px;

}

.linkCon:hover{
    color: rgb(51, 10, 39);
    background-color: rgb(138, 124, 134);
}

.linkConBox{
    margin-top: 10px;
}