/*FONTS*/
@font-face{
    src:url(../fonts/Super\ Dessert.ttf);
    font-family: dessert;
}
@font-face{
    src:url(../fonts/Super\ Corn.ttf);
    font-family: corn;
}
@font-face{
    src:url(../fonts/uchiyama.otf);
    font-family:uchiyama;
}

/*GENERAL*/
.banniere{
    text-align: center;
    padding-top: 1vh;
    height: 12vh;
    background-color: rgb(163, 136, 0);
    border-bottom: 2px double rgba(206, 155, 1, 0.5);
}

.navBarOption{
    color:rgb(46, 80, 119);
    text-decoration: none;
    font-family: uchiyama;
    text-shadow:rgb(105,108,60) 2px 2px;
    width: 15%;
}

@media(min-width: 0px) and (max-width: 8000px){
    .navBarOption{
        font-size: 15px;
    }
    .appLogo{
        font-size: 50px;
    }
    .appLogoAlt{
        font-size: 30px;
    }
}
@media(min-width: 800px){
    .navBarOption{
        font-size: 20px;
    }
    .appLogo{
        font-size: 70px;
    }
    .appLogoAlt{
        font-size: 40px;
    }
}

.navBarOption:hover{
    color:rgba(69, 13, 52);
    text-shadow:rgb(116,75,26) 2px 2px;
}

.retour{
    text-align: right;
}

.appLogo{
    font-family: dessert;
    color:rgb(46, 80, 119);
    text-shadow:rgb(105,108,60) 2px 2px;
    width: 40%;
    margin-left: 15%;
}

.appLogoAlt{
    font-family: dessert;
    color:rgb(46, 80, 119);
    text-shadow:rgb(105,108,60) 2px 2px;
    width: 25%;
    text-align: left;
}

.navBarTitre{
    color: rgba(138, 5, 23);
    font-family: corn;
    font-size: 50px;
    text-shadow:rgb(151,71,12) 2px 2px;
    width: 50%;
    margin-right: 10%;
    padding-top: 1vh;
}

.menu{
    text-align: center;
    background-image: url(../img/dataSmileyBG.png);
    height: 88vh;
    background-size:cover;
}

.titre{
    color: rgba(46, 80, 119);
    font-family: corn;
    font-size: 50px;
    padding-top: 5vh;
}

/*INDEX*/

.choixEvent{
    width: 75%;
    text-align: center;
    border-radius: 180px;
    border-color: rgba(34, 59, 88);
    background-color: rgb(51, 89, 132);
    color: rgba(205, 87, 19);
    font-weight: bolder;
    font-size:20px;
}

.unOptionEvent{
    color: rgba(10, 33, 15);
    font-weight: bold;
    text-align: center;
}
.unOptionEvent:checked{
    background-color: rgba(97, 152, 142);
}

.optionEvent{
    margin-top: 10vh;
    align-items: center;
}

.optionVote{
    margin-top: 10vh;
    align-items: center;
}

.uneOptionIndex{
    background-color:rgba(205, 87, 19, 0.726);
    border-radius: 100px;
    color:rgb(69, 13, 52);
    text-decoration: none;
    font-family: uchiyama;
    font-size: 25px;
    padding: 50px;
}

.uneOptionIndex:hover{
    color:rgba(10, 33, 15)
}
.uneOptionVote{
    width: 30%;
    margin-left: 2.5%;
}

.uneOptionIndex:hover{
    background-color:rgba(252, 141, 6, 0.712);
    border-radius: 100px;
}

/*PROFIL*/



/*VOTE*/
.voteTitreBg{
    padding-top: 3vh;
    background-color: rgba(125, 78, 87);
}

.voteTitre{
    color: rgba(97, 152, 142);
    font-family: corn;
    font-size: 50px;
}

.menuVote{
    text-align: center;
    height: 90vh;
    background-color: rgb(172, 109, 121);
}

.space{
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: center;
}

.rangeRow{
    justify-content: center;
    margin-bottom: 100px;
}

.form-range{
    width: 70%;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: rgba(97, 152, 142);
    height: 3rem;
    border-radius: 100px;
    
}

input[type="range"]::-webkit-slider-thumb {
    background: rgb(125, 197, 184);
    height: 3rem;
    width: 3rem;
    border-radius: 100px;
    margin-top: 0rem;
    appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
    background: rgb(207, 206, 206);
    height: 3rem;
    width: 3rem;
    border-radius: 100px;
    margin-top: 0rem;
    border: none;
    outline: none;
  }

/*CONNEXION*/
.menuConnexion{
    text-align: center;
    background-image: url(../img/graySmileyBG.png);
    background-size:cover;
    height: 100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blockCon{
    text-align: left;
    background-size:cover;
    display:flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(161, 161, 161, 0.692);
    padding: 70px;
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 40px;
}

.titleCon{
    color: rgb(51, 10, 39);
    text-shadow: rgb(92,50,79) -1px 1px;
}

.linkCon{
    text-align: center;
    font-size: 20px;
    color:rgb(92,50,79);
    text-decoration: none;
    background-color: rgba(138,124,134, 0.671);
    padding: 10px;
    border-radius: 15px;
}

.linkCon:hover{
    color: rgb(51, 10, 39);
    background-color: rgb(138, 124, 134);
}